@import "tailwindcss";

@theme {
    --font-outfit: "Outfit", sans-serif;
    --color-brand-beige: #FFF8F0;
    --color-brand-brown: #4A3B32;
    --color-brand-accent: #D99F78;
    --color-brand-light-brown: #FDF6F0;
}

:root {
    font-family: var(--font-outfit);
    background-color: var(--color-brand-beige);
    color: var(--color-brand-brown);
}

@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;500;600;700&display=swap');